.venv/
__pycache__/
db.sqlite3
.env


# Django-specific files
media/
staticfiles/
db.sql

# Ignore migrations if you prefer to generate them on the server
*/migrations/*
!*/migrations/__init__.py

# Ignore dependency and virtual environment files
venv/
env/
*.pip
Pipfile
Pipfile.lock
poetry.lock
# Ignore logs and temp files
logs/
*.log
